
*{
  font-family: 'Poppins', sans-serif;
}

.welcome h2{
    margin: 10px;
    padding: 5px;
    text-align: left;
    background-color:yellow(216, 180, 112, 0.911) ;
    border-radius: 200px;
  }
  
 
